html {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
}

#calculator {
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 300px;
  padding: 8px;
  gap: 8px;
  border: 1px solid black;
}

.display-container {
  display: flex;
  height: 75px;
  flex-direction: column;
  border: 1px solid black;
}

#working-display,
#top-display {
  flex: 1;
  padding: 0px 8px;

  display: flex;
  align-items: center;
  justify-content: flex-end;

  font-size: 32px;
  font-family: 'Calculator', sans-serif;
}

#top-display {
  font-size: 24px;
}

.button-container {
  flex: 1;
  display: flex;
}

.button-row-container {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.button-row {
  flex: 1;
  display: flex;
}

.button-gap {
  gap: 4px;
}

button {
  flex: 1;
  font-size: 18px;
}