html {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
}

#calculator {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 300px;
  height: 375px;
  border: 1px solid black;
}

.display-container {
  display: flex;
  padding: 8px;
  height: 75px;
}

#display {
  flex: 1;
  border: 1px solid black;
  
}

.button-container {
  flex: 1;
}